.app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
   
  }
.card{
    display: flex;
    flex-direction: column;
}
.img{
  object-fit:cover;
 
  }
  
  a:hover{
    font-weight: bolder;
    color: green;
    text-decoration: underline solid green 20%; 
  }